<template name="appLayout">
<head>
  <title>Jacob Rede's Portfolio</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel='icon' href='/favicon.ico'>
</head>

<body>
	 <div >
	 	{{> yield "header"}}
		<div class="container">
			<div class="row">
				{{> yield "notification"}}
			</div>
			<div class="row">
				{{> yield "content"}}
			</div>
		</div>
	</div>
	<footer id="footer" >
		{{> yield "footer"}}
	</footer>
</body>

</template>
