
.fake-link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
.footer {
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 0px;
}
