<template name='homePage'>
  <div class="jumbotron">
    <div class="container">
      <h1>Hi, I'm Jacob.</h1>
      <h2>I create code that accomplishes things.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>
        I greatly enjoy creating something from nothing and coding allows me to fuel that passion.
        I'm always interested in learning something new, then applying it.
        For instance this website is built using <a href="https://www.meteor.com/">Meteor.js</a>.
        I also love delving into existing code-bases and figuring out how the work.
        Below you'll find a list of my past experiences, my educational background, and some personal projects that I like.
      </h4>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading" >Experience</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-6">
      <h3 class="featurette-heading" >Progressive Insurance</h3>
      <h4>System Test Engineer | 01/2016 - 04/2017</h4>
      <ul>
        <li>Created code colorization tool for the <a href="https://en.wikipedia.org/wiki/XSLT">XSLT</a> programming language</li>
        <li>Created multiple <a href="http://www.seleniumhq.org/">Selenium</a> testing suites in C#</li>
        <li>Assisted creating team portal website with Web API 2.0 & <a href="https://angularjs.org/">Angular.js</a></li>
        <li>Created & Updated a multitude of <a href="http://fitnesse.org/">FitNesse</a> projects</li>
        <li>Led discussions and recommended testing procedures during project meetings</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3 class="featurette-heading" >Rocky Mountain Student Media Corporation</h3>
      <h4>Web Developer | 05/2015 - 10/2015</h4>
      <ul>
        <li>Assisted with development of DJ logging website</li>
        <li>Created scheduling logging system</li>
        <li>Updated DJ website to use <a href="http://getbootstrap.com/">Bootstrap.css</a></li>
      </ul>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading" >Education</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-6">
      <h3 class="featurette-heading" >Colorado State University</h3>
      <h4>B.S. Applied Computing Technology | 2013 - 2015</h4>
      <h5>Minor: Business Administration</h5>
      <ul>
        <li>GPA: 3.0</li>
        <li>Upper division classes included: Cryptography, Authentication, and Software Vulnerabilities</li>
        <li>Major projects included:</li>
        <ul>
          <li><div class="fake-link" id="imageManipulation">Image manipulation using C++</div></li>
          <li><div class="fake-link" id="cryptography">Cryptography using 64-bit Block/Stream cipher in C++</div></li>
          <li><div class="fake-link" id="mysql">MySQL Student Registration System</div></li>
        </ul>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3 class="featurette-heading" >San Diego Mesa Community College</h3>
      <h4>Computer Information Systems Associate Degree | 2011 - 2013</h4>
      <ul>
        <li>Transitioned to Colorado State University</li>
      </ul>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading" >Personal Projects</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-6">
      <h3 class="featurette-heading" ><a href="https://DFSCombine.com">DFSCombine.com</a> | 2017</h3>
      <ul>
        <li>Website created for the sole purpose of creating all possible lineups for FanDuel & DraftKings</li>
        <li>Created with the <a href="https://laravel.com/">Laravel Framework</a> (PHP) | <a href="https://angularjs.org/">Angular.js</a> | <a href="http://getbootstrap.com/">Bootstrap.css</a></li>
        <li>Works by iterating over all the players that users choose and showing all valid lineup combinations between those players</li>
        <li>Core lineup creation happens on the client</li>
        <li>Hosted on a Virtual Machine via <a href="https://www.digitalocean.com/">DigitalOcean.com</a> | LEMP Stack</li>
        <li>Check out this project on my BitBucket | <a href="https://bitbucket.org/jacobrede/dfscombine">https://bitbucket.org/jacobrede/dfscombine</a></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3 class="featurette-heading" ><a href="https://breakingbadcomicmaker.com">BreakingBadComicMaker.com</a> | 2013</h3>
      <ul>
        <li>Designed, Created and Implemented all web content for my site</li>
        <li>Transitioned from raw PHP to the <a href="https://laravel.com/">Laravel Framework</a></li>
        <li>Designed with the <a href="https://purecss.io/">Pure.css</a> Framework</li>
        <li>Popular during the airing of the T.V. show Breaking Bad</li>
        <li>Small community on Reddit | <a href="https://www.reddit.com/r/breakingbadcomics/">Breaking Bad Comics Subreddit</a></li>
        <li>Hosted on a Virtual Machine via <a href="https://www.digitalocean.com/">DigitalOcean.com</a> | LEMP Stack</li>
      </ul>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading" >BitBucket | Git</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-12">
      <h3 class="featurette-heading" ><a href="https://bitbucket.org/jacobrede/">Jacob Rede's BitBucket</a></h3>
      <ul>
        <li>Handfull of public projects</li>
        <li>Public projects contain: Java console application, Laravel application, and Meteor applications</li>
        <li><a href="https://bitbucket.org/jacobrede/jacobredeportfolio">This website</a> is also public!</li>
      </ul>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading" >Contact | Resume</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-6">
      <h3 class="featurette-heading" ><a href="mailto:jacobrede@gmail.com?Subject=Hello%20Jacob" target="_top">Email Me!</a></h3>
      <ul>
        <li>I'm always connected, so send me an email</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3 class="featurette-heading" ><a href="/JacobRede_Resume.pdf" target="_top">Download My Resume</a></h3>
    </div>
  </div>
  <hr class="featurette-divider">
</template>
